@import 'variables';

// Nav and Footer

.nav {
    background-color: @yellow;
}

.footer {
    background-color: @black;
    padding: 10px;
    border-top: 10px solid @yellow;
}

// Headings
.h2 {
    text-transform: uppercase;
}

// Buttons
.button {
    background-color: @yellow;
    color: @black;
    font-weight: @weight-500;
    padding: 10px 25px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 0;
}